<div class="container">
    <div class="boton">
        <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/inicio">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Si tienes dudas o problemas con la herramienta, comunicate con nosotros!</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul style="list-style:none;"> 
                <li>
                    <h2>Pablo Pandolfo:</h2>
                    <p></p>
                </li>
                <li>
                    <h2>Pablo Hernan Rechimon:</h2>
                    <p>GitHub: </p>
                    <p>Email: </p>
                </li>
                <li></li>
                <li></li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
