<!-- <div class="container pt-4">
  <div class="col-lg-6 offset-lg-3">
    <div class="card text-center">
        <div class="card-body">
          <h3>{{titulo}}
                <div *ngIf="loading" class="spinner-border float-right" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="row">Principio</th>
                    <th scope="col">Pauta</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Resultado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td *ngFor="let principio of principios">{{principio.codigo}} - {{principio.detalle}}</td>
                    
                  </tr>
                  <tr>
                    
                    <td></td>
                    <td *ngFor="let pauta of pautas">{{pauta.codigo}}</td>
                  </tr>
                  <tr>
                    
                    <td></td>
                    <td></td>
                    <td *ngFor="let criterio of criterios">{{criterio.codigo}} - {{criterio.descripcion}}</td>
                  </tr>
                  <tr>
                    
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td *ngFor="let tecnica of tecnicas">{{tecnica.codigo}} - {{tecnica.descripcion}} {{tecnica.resultado}}</td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div> -->

<!-- <table class="table table-responsive table-striped">
  <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
      </tr>
      <tr>
          <td>Smith</td>
          <td>Thomas</td>
          <td>smith@example.com</td>
      </tr>
      <tr>
          <td>Merry</td>
          <td>Jim</td>
          <td>merry@example.com</td>
      </tr>
  </tbody>
</table>

<table class="table">
  <h3>{{titulo}}
    <div *ngIf="loading" class="spinner-border float-right" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </h3>
  <thead>
    <tr>
      <th scope="row">Principio</th>
      <th scope="col">Pauta</th>
      <th scope="col">Criterio</th>
      <th scope="col">Nivel</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table> -->

<div class="container">
  <mat-toolbar>
      <span>Resultado</span>
  </mat-toolbar>
  <div *ngIf="principios.length > 0 && pautas.length > 0 && criterios.length > 0 && tecnicas.length && resultados.length">
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!--Puedo iterar en cada elemento a travez de dataSource -->
        <ng-container matColumnDef="principio"> <!--La propiedad matHeaderCellDef me define el nombre que tendra la cabeza de cada columna -->
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Principio </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="pauta">
          <th mat-header-cell *matHeaderCellDef> Pauta </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.pautas.codigo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="criterio">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.pautas.codigo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tecnica"> <!--Estos nombres hacen ilusion a la columna y tienen que hacer match con el array displayedColumns -->
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.pautas.tecnicas.codigo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="resultado"> <!--Estos nombres hacen ilusion a la columna y tienen que hacer match con el array displayedColumns -->
            <th mat-header-cell *matHeaderCellDef> Resultado </th>
            <td mat-cell *matCellDef="let element"> {{element.pautas.tecnicas.resultado}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>