<div class="container">
    <div class="boton">
        <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/inicio">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>¿Quiénes somos?</mat-card-title>
            <mat-card-subtitle>
                <ul>
                    <li><b>Pablo Pandolfo:</b> Master en informatica</li>
                    <li><b>Pablo Rechimon:</b> Estudiante avanzado de Licencitura en Informatica, Universidad Nacional del Oeste</li>
                    <li><b>Maximiliano Franco:</b> Estudiante avanzado de Licencitura en Informatica, Universidad Nacional del Oeste</li>
                    <li><b>Walter Gómez:</b> Estudiante avanzado de Licencitura en Informatica, Universidad Nacional del Oeste</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <b>Objetivos</b><br>
                Desarrollar una Herramienta que permita identificar problemas de Accesibilidad Web en forma automática de acuerdo con la norma vigente en Argentina desde setiembre de 2019.
            </p>
            <p>
                <b>¿Qué es la Accesibilidad Web?</b><br>
                Es el acceso universal a la Web, independientemente del tipo de hardware, software, infraestructura de red, idioma, cultura, lugar geográfico y capacidades de los usuarios.
            </p>
            <h3>
                <b>Estándares bajo los cuales nos basamos para el desarrollo de la herramienta:</b> 
            </h3>
            <p>
                <b>Internacionales</b>
                World Wide Web Consortium
                consorcio internacional que genera recomendaciones y estándares que aseguran el crecimiento de la World Wide Web a largo plazo
                <a href="https://www.w3.org/Consortium/">https://www.w3.org/Consortium/</a> 
            </p>
            <p>
                <b>WCAG</b>
                Pautas de Accesibilidad al Contenido Web (Web Content Accessibility Guidelines) desarrolladas por el grupo WAI (Web Accessibility Initiative) del W3C
                <a href="https://www.w3.org/standards/">https://www.w3.org/standards/</a>
            </p>
            <p>
                <b>Nacionales</b>
                Ley 26653
                En Argentina en 2010, se sancionó la Ley 26.653 de Accesibilidad de la Información en las Páginas Web.
                Los sitios web del sector público deben respetar las normas y requisitos recomendados por la ONTI.
                ONTI - Oficina Nacional de Tecnologías de la Información
                Ministerio de Modernización – Presidencia de la Nación
                <a href="https://www.argentina.gob.ar/onti">https://www.argentina.gob.ar/onti</a>
            </p>
            <p>
                <b>Disposición ONTI 06/2019 en Argentina </b>
                La Disposición ONTI 06/2019 de setiembre de 2019, establece:<br>
                “<b>ARTÍCULO 1</b> — Apruébense las “Pautas de Accesibilidad de Contenido Web 2.0” que como ANEXO I forma parte integrante de la presente Disposición.
                <br><b>ARTÍCULO 2</b> — Apruébense los “Criterios de conformidad” que como ANEXO II forma parte integrante de la presente Disposición.
                <br><b>ARTÍCULO 3</b> — Las “Pautas de Accesibilidad de Contenido Web 2.0”, referidas en el Artículo 1° como ANEXO I, y los “Criterios de conformidad”, referidos en el Artículo 2° como ANEXO II, se encontrarán además disponibles en el sitio web de la ONTI.
                <br><b>ARTÍCULO 4</b> — Establece sé que el nivel mínimo de conformidad a ser cumplimentado por las organizaciones alcanzadas por la Ley N° 26.653 deberá ser de veinte (20) criterios para el primer año de vigencia de esta disposición y de treinta (30) criterios para períodos subsiguientes. A tales efectos se debe considerar como total los treinta y ocho (38) criterios de conformidad referidos en el ANEXO II que integra la presente Disposición.”
            </p>
        </mat-card-content>
    </mat-card>
</div>